.footer {
  background-color: #323232;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 8vw;
  padding-top:70px;
  margin-top: 60px;
  
}

.footer-content {
  width: 108%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left ,  .footer-content-right, .footer-content-center  { 
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 20px;
     
}
.footer-content-left ,  .footer-content-right, .footer-content-center li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;

}
.footer-content-left , .footer-content-center h2{
    color: white;  
    font-size: 25px;   

}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: gray;
  border: none;
}


.footer-content-left img {
  width: 100px;
  margin-bottom: 15px;
}

.footer-content-left p {
  font-size: 20px;
  line-height: 1.5;
  color: #d9d9d9;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social-icons img:hover {
  transform: scale(1.1);
}

.footer-content-center h2, .footer-content-right h2 {
  color: white;
}

.footer-content-center ul, .footer-content-right ul {
  list-style: none;
  padding: 0;
  font-size: 30px;
}

.footer-content-center li, .footer-content-right li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.footer-content-center li:hover {
  color: tomato;
}

.footer-content-right li {
  cursor: default;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #555;
}

.footer-copyright {
  text-align: center;
  font-size: 13px;
  color: #b5b5b5;
}


@media (max-width: 750px) {
  .footer-content {
   display: flex;
   flex-direction: column;
   gap: 35px;
  }

  .footer-copyright {
    text-align:center;
    }
}
