.login-popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: fadeIn 0.4s ease;
}


.login-popup form {
    width: max(23vw, 340px);
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.login-popup-tital {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-tital img {
    width: 16px;
    cursor: pointer;
}


.login-popup-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-popup-input input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}


.login-popup button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}


.login-popup-condition {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    color: #808080;
}

.login-popup-condition input {
    margin-top: 4px;
}


.login-popup p {
    font-size: 14px;
}

.login-popup p span {
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}